{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
home
{% endblock title %}

{% block content %}

<hr>

<form action="" method="POST">
    {% csrf_token %}
    <div class="col-3">
        {{ form|crispy}}
        <button type="submit" class="btn btn-primary mt-3">Search</button>
    </div>

</form>
<br>
    {% if sales_df %}
        {{ sales_df | safe }}
        <br>
         <div class="col-3">
            {{ positions_df | safe }}
         </div>
    {% else %}
        <h4>No data</h4>
{% endif %}
{% endblock content%}